#blogAddress {
	font-size: 20pt;
	width: 500px;
	z-index: 1;
	font-family: Arial;
	color: #444;
}

#blogType {
	font-size: 20pt;
	z-index: 1;
	font-family: Arial;
}

#blogAnalyzeButton {
	font-size: 20pt;
	z-index: 1;
	font-family: Arial;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding: 0 1em;
	margin: 0;
	font-size: 13pt;
}

.analyzeOptions {
	font-size: 15pt;
	color: #1d923a;
	font-family: Arial;
}

.bigElement {
	font-size: 20pt;
	z-index: 1;
	font-family: Arial;
}

.bigButton {
	font-size: 25pt;
	z-index: 1;
	font-family: Arial;
}

.bigInputField {
	font-size: 20pt;
	width: 600px;
	z-index: 1;
	font-family: Arial;
}

.blogNameInputField {
	font-size: 20pt;
	width: 500px;
	z-index: 1;
	font-family: Arial;
}

.dateSelectTable {
	font-size: 14pt;
	font-family: Arial;
}

.menuText {
	font-size: 18pt;
	z-index: 1;
	font-family: Arial;
}

.bigLoginField {
	font-size: 22pt;
	width: 250px;
	z-index: 1;
	font-family: Arial;
}

.wizzardBigNumber {
	font-size: 33pt;
	font-family: Arial;
}

.wizzardBigText {
	font-size: 20pt;
}

.mainPageTitle {
	font-size: 20pt;
}

.opisanieText{
	font-size: 12pt;
	}
	
.opisanieTextMin{
	font-size: 10t;
	}
/*
.feedback_tab_left {
	background: #FB9B0E;
	height: 151px;
	left: 0;
	position: fixed;
	top: 263px;
	width: 22px;
	z-index: 5;
}
*/